select {
    margin: 10px;
}

.form-label {
    display: flex;
    align-items: center;
}

.form-control {
    display: flex;
    align-items: center;
}

/* #bookmark-title {
    margin: 10px;
} */

/* #bookmark-url {
    margin: 10px;
} */

#bookmark-notes {
    margin: 10px;
}