#bookmark-title {
    height: 0.01em;
    margin: 10px;
    width: 105ex;
}

#bookmark-url {
    height: 0.01em;
    margin: 10px;
    width: 99ex;
}

#bookmark-priority {
    margin: 10px;
    padding-right: 20px;
    width: 12px;
}

#bookmark-notes {
    margin: 10px;
    width: 105ex;
}

.form-label {
    display: flex;
    align-items: center;
}

.form-control {
    align-items: flex-start;
    display: flex;
}
