#edit-title {
    height: 0.01em;
    margin: 10px;
    width: 105ex;
}

#edit-link {
    height: .1em;
    margin: 10px;
    width: 98ex;
}

#edit-priority {
    margin: 10px;
    padding-right: 20px;
    width: 4px;
}

#edit-notes {
    margin: 10px;
    width: 105ex;
}

.details-page {
    display: flow-root;
    height: 50vmax;
}

.update-bookmark-value {
    height: 3.4em;
    align-items: flex-start;
    display: flex;
}